<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- 
String idLine;
int idBus;
String idStop;
String direction;
String orario;
int progression; -->
    <div class="container" th:fragment=fragment>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fucking Fragment!!</h2>
                <hr class="primary">
                <p>Ready to start!?</p>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <table class="table table-bordered">
                        <!-- On rows -->
                        <tr class="active">
                            <th class="text-center">Linea</th>
                            <th class="text-center">Corsa</th>
                            <th class="text-center">Fermata</th>
                            <th class="text-center">Direzione</th>
                            <th class="text-center">Orario</th>
                            <th class="text-center">Progressivo</th>
                        </tr>
                        <!-- On cells (`td` or `th`) -->
                        <tr th:each="item : ${tts}">
                            <td class="success" th:text="${{item.idLine}}"></td>
                            <td th:text="${{item.idBus}}"></td>
                            <td th:text="${{item.idStop}}"></td>
                            <td th:text="${{item.direction}}"></td>
                            <td th:text="${{item.orario}}"></td>
                            <td th:text="${{item.progression}}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</body>

</html>