<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

    <div class="container" th:fragment="fragment">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fucking Fragment!!</h2>
                <hr class="primary">
                <p>Ready to start!?</p>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <table class="table table-bordered">
                        <!-- On rows -->
                        <tr class="active">
                            <th class="text-center">Numero</th>
                            <th class="text-center">Linea</th>
                            <th class="text-center">Mappa</th>
                        </tr>
                        <!-- On cells (`td` or `th`) -->
                        <tr th:each="item : ${list}">
                            <td class="success" th:text="${{item.idLine}}"></td>
                            <td th:text="${{item.lineDescription}}"></td>
                            <td><a th:href="@{/rest/line/__${item.idLine}__}">Vai</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</body>

</html>