<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<link th:href="@{/resources/core/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<head>
<title>AMTAB SERVICE</title>
</head>

<body>


	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">AMTAB PROJECT</a>
			</div>
		</div>
	</nav>


	<div class="jumbotron">
		<div class="container"></div>
		<p>
			<a class="btn btn-primary btn-lg" href="thyme.html"
				th:href="@{/thyme.html}" role="button">Learn more</a>
		</p>
	</div>



	<script th:src="@{/resources/core/js/bootstrap.min.js}"></script>
	<script
		th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>


</body>
</html>